.contacts {
    width: 1200px;
    margin: auto;
}

.contact-us h3 {
    padding-top: 3%;
    text-align: center;
    font-size: 30px;
    color: black;
    font-weight: 400;
    line-height: 49.01px;
}

.line-container {
    text-align: center;
    padding-bottom: 5%;
}

.line-container .left {
    border-color: black;
    margin-top: 0;
}

.line-container .dot {
    background-color: black;
    margin-top: 0;
}

.line-container .right {
    border-color: black;
    margin-top: 0;
}

.contact-form {
    width: 45%;
    display: inline-block;
    float: left;
    margin-top: 5%;
}

.contact-form input,
.contact-form .textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    font-size: 13px;
    font-family: 'Quicksand';
    font-weight: 500;
}

.contact-form .textarea {
    height: 160px;
}

.information-block {
    width: 45%;
    background: url("../images/arrow.png") no-repeat 46% 70%;
    display: inline-block;
    margin-top: 5%;
    text-align: left;
}

.information-block h4 {
    font-size: 24px;
    font-family: 'Quicksand';
    font-weight: 400;
    margin: 0;
    line-height: 1em;
}

.information-block p {
    font-size: 13px;
    font-family: 'Quicksand';
    font-weight: 300;
}

.information-block span {
    font-weight: 500;
    display: block;
    font-size: 13px;
    font-family: 'Quicksand';
    margin-bottom: 10px;
}

.information-block  span i {
    background: url("../images/icon.png") no-repeat bottom;
    display: inline-block;
    margin-right: 15px;
}

.information-block .phone {
    margin-bottom: 35px;
}

.information-block .phone i {
    background-position: -55px 0;
    height: 14px;
    width: 12px;
}

.information-block .address i{
    background-position: -44px 0;
    height: 16px;
    width: 11px;
}

.information-block .send {
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    background-color: #ff5959;
    padding: 10px 15px;
    border-radius: 10px;
    margin-right: 5%;
    display: inline-block;
}

.information-block .send:hover {
    background-color: transparent;
    border: 2px solid #ff5959;
    padding: 8px 13px;
    color: #ff5959;
}

.information-block .view {
    background-color: transparent;
    border: 2px solid #ff5959;
    color: #ff5959;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 10px;
    width: 120px;
    height: 14px;
    display: inline-block;
    text-align: center;
}

.information-block .view:hover {
    background-color: #ff5959;
    color: white;
}

@media screen and (max-width: 1150px) {
    .contacts {
        width: auto;
        margin: 0 auto;
        padding: 0 2%;
    }
    .information-block {
        margin-left: 2%;
        background: none;
    }

    .information-block p {
        height: 105px;
        overflow: hidden;
    }

    .information-block .send {
        margin-right: 3%;
    }

    .information-block .view {
        width: auto;
    }
}

@media screen and (max-width: 600px) {
    .contact-us {
        height: 450px;
    }

    .information-block .phone {
        margin-bottom: 10px;
    }

    .information-block .send {
        display: block;
        width: 129px;
        margin-bottom: 10px;
    }

    .information-block p {
        height: 90px;
    }

    .information-block span i {
        margin-right: 5px;
    }

    .information-block {
        margin-left: 5%;
    }
}

@media screen and (max-width: 320px) {
    .contact-us {
       height: 700px;
    }
    .contact-form {
        width: 95%;
        margin-top: 10%;
    }
    .information-block {
        width: 95%;
    }

    .information-block .send {
        display: inline-block;
    }
}