.firstRow {
    margin: 5% 0 2%;
    padding: 0;
}

.firstRow .imagesPortfolio {
    display: inline-block;
    position: relative;
    text-align: center;
}

.firstRow .imagesPortfolio:first-child {
    margin-right: 5%;
}

.imagesPortfolio p,
.star,
.favorites {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}

.imagesPortfolio p {
    top: 40%;
    left: -8%;
    color: white;
    font-family: 'Quicksand';
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}

.star,
.favorites {
    width: 29px;
    height: 29px;
    background: url("../images/portfolioHover.png") no-repeat;
    text-indent: -999em;
}

.favorites {
    background-position: -29px 0px;
    top: 15%;
    padding-right: 75px;
}

.star {
    background-position: 0px 0px;
    top: 15%;
}

.secondRow {
    padding: 0;
}

.firstRow .imagesPortfolio:hover img,
.secondRow .imagesPortfolio:hover img {
    opacity: 0.5;
}

.firstRow .imagesPortfolio:hover p,
.secondRow .imagesPortfolio:hover p,
.imagesPortfolio:hover .star,
.imagesPortfolio:hover .favorites,
.firstRow .imagesPortfolio:focus p,
.secondRow .imagesPortfolio:focus p,
.imagesPortfolio:focus .star,
.imagesPortfolio:focus .favorites{
    display: inline-block;
}

.secondRow .imagesPortfolio {
    position: relative;
    height: auto;
    display: inline-block;
    margin-right: 3.5%;
    text-align: center;
}

.secondRow .imagesPortfolio:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 1199px) {
    .portfolio {
        padding-bottom: 5%;
    }

    .firstRow {
        margin-bottom: 5%;
    }

    .firstRow img{
        width: 100%;
        height: auto;
        margin-bottom: 5%;
    }

    .firstRow .imagesPortfolio:first-child {
        margin-right: 1%;
        margin-bottom: 5%;
    }

    .secondRow .imagesPortfolio {
        margin-right: 2%;
    }
}


@media screen and (max-width: 1150px){
    .firstRow .imagesPortfolio:first-child{
        margin-bottom: 0;
    }

    .firstRow {
        margin-bottom: 0;
    }

    .secondRow {
        width: 570px;
        margin: auto;
    }

    .secondRow .imagesPortfolio {
        margin-right: 6%;
        margin-bottom: 2%;
    }

    .secondRow .imagesPortfolio:nth-of-type(2) {
        margin-right: 0;
    }
}

@media screen and (max-width: 1060px){

    .firstRow .imagesPortfolio:first-child {
        margin-right: 0;
    }
}

@media screen and (max-width: 600px) {
    .portfolio {
        padding-bottom: 10%;
    }

    .imagesPortfolio p {
        font-size: 16px;
    }

    .firstRow {
        margin-bottom: 5%;
    }

    .firstRow img,
    .secondRow img {
        width: 100%;
        height: auto;
        margin-bottom: 1%;
    }

    .firstRow .imagesPortfolio:first-child {
        margin-right: 0;
        margin-bottom: 5%;
    }

    .secondRow {
        width: auto;
    }

    .secondRow .imagesPortfolio {
        width: 45%;
        margin-right: 4%;
    }

    .secondRow .imagesPortfolio:nth-of-type(2) {
        margin-right: 0;
    }

    .star,
    .favorites {
        left: 10%;
    }
}

@media screen and (max-width: 320px) {
    .imagesPortfolio p {
        font-size: 12px;
    }
}